<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tencent.dao.OrderMapper">

	<!-- 一对一：返回resultType，查询订单及订单所属用户，一个订单属于一个用户-->
	<select id="selectOrders" resultType="com.tencent.pojo.OrderCustom">
		select o.id,o.userid,o.orderid,o.createtime,o.note,
		       u.id uuid,u.username,u.birthday,u.address
		from orders o,t_user u
		where o.userid = u.id
	</select>
	
	<!-- 一对一：返回resultMap，查询订单及订单所属用户，一个订单属于一个用户 -->
	<resultMap id="ordersResultMap" type="com.tencent.pojo.Order">
		<id column="id" property="id"/><!-- column：SQL语句中的列名    property：Order对象属性名称-->
		<result column="userid" property="userId"/>
		<result column="orderid" property="orderId"/>
		<result column="createtime" property="createTime"/>
		<result column="note" property="note"/>
		
		<!-- 一对一：association -->
		<association property="user" javaType="com.tencent.pojo.User">
			<id column="uuid" property="id"/>
			<result column="username" property="userName"/>
			<result column="birthday" property="birthday"/>
			<result column="address" property="address" />
		</association>
	</resultMap>
	<select id="selectOrdersByResultMap" resultMap="ordersResultMap">
		select o.id,o.userid,o.orderid,o.createtime,o.note,
		       u.id uuid,u.username,u.birthday,u.address
		from orders o,t_user u
		where o.userid = u.id
	</select>
	
	
	<!-- 一对多：一个订单关联多个明细,extends用于继承其他resultMap节点中的配置 -->
	<resultMap id="orderDetailResultMap" type="com.tencent.pojo.Order" extends="ordersResultMap">
		<!-- <id column="id" property="id"/>column：SQL语句中的列名    property：Order对象属性名称
		<result column="userid" property="userId"/>
		<result column="orderid" property="orderId"/>
		<result column="createtime" property="createTime"/>
		<result column="note" property="note"/> -->
		
		<!-- 一对一：association -->
		<!-- <association property="user" javaType="com.tencent.pojo.User">
			<id column="uuid" property="id"/>
			<result column="username" property="userName"/>
			<result column="birthday" property="birthday"/>
			<result column="address" property="address" />
		</association> -->
		
		<!-- 一对多: -->
		<collection property="orderDetailList" ofType="com.tencent.pojo.OrderDetail">
			<id column="odid" property="id"/>
			<result column="ordersid" property="ordersId"/>
			<result column="itemsid" property="itemsId"/>
			<result column="itemsnum" property="itemsNum"/>
		</collection>
	</resultMap>
	<select id="selectOrderDetailsByResultMap" resultMap="orderDetailResultMap">
		select o.id,o.userid,o.orderid,o.createtime,o.note,
		       u.id,u.username,u.birthday,u.address,
		       od.id odid,od.ordersid,od.itemsid,od.itemsnum
		from orders o,t_user u,orderdetail od
		where o.userid = u.id and o.id = od.ordersid
	</select>
	
	
	<!-- 多对多：一个用户关联多个订单，一个订单关联多个明细，一个明细关联一个商品 -->
	<resultMap id="usersResultMap" type="com.tencent.pojo.User">
		<id column="uuid" property="id"/>
		<result column="username" property="userName"/>
		<result column="birthday" property="birthday"/>
		<result column="address" property="address"/>
		
		<!-- 一对多：一个用户关联多个订单 -->
		<collection property="orderList" ofType="com.tencent.pojo.Order">
			<id column="id" property="id"/>
			<result column="userid" property="userId"/>
			<result column="orderid" property="orderId"/>
			<result column="createtime" property="createTime"/>
			<result column="note" property="note"/>
			
			<!-- 一对多：一个订单关联多个明细 -->
			<collection property="orderDetailList" ofType="com.tencent.pojo.OrderDetail">
				<id column="odid" property="id"/>
				<result column="ordersid" property="ordersId"/>
				<result column="itemsid" property="itemsId"/>
				<result column="itemsnum" property="itemsNum"/>
				
				<!-- 一对一：一个明细关联一个商品 -->
				<association property="item" javaType="com.tencent.pojo.Item">
					<id column="iid" property="id"/>
					<result column="itemName" property="name"/>
					<result column="price" property="price"/>
					<result column="pic" property="pic"/>
					<result column="icreateTime" property="createTime"/>
					<result column="detail" property="detail"/>
				</association>
			</collection>
		</collection>
	</resultMap>
	<select id="selectUsersByResultMap" resultMap="usersResultMap">
		select u.id uuid,u.username,u.birthday,u.address,
		       o.id,o.userid,o.orderid,o.createtime,o.note,
		       od.id odid,od.ordersid,od.itemsid,od.itemsnum,
		       i.id iid,i.name itemName,i.price,i.pic,i.createtime icreateTime,i.detail
		from t_user u,orders o,orderdetail od,items i
		where u.id = o.userid and o.id = od.ordersid and od.itemsid = i.id
	</select>
	
	<!-- 分页查询（数据库分页）  小于符号比较特殊，可使用以下方式替换：① 实体符号： &lt; ② <![CDATA[....]]>表示标签中的内容不会被xml解析器解析，只会当成普通文本 -->
	<select id="selectUsersByPage" parameterType="com.tencent.pojo.Page" resultMap="usersResultMap">
		select * from (
		    select rownum rn,
		           u.id uuid,u.username,u.birthday,u.address,
		           o.id,o.userid,o.orderid,o.createtime,o.note,
		           od.id odid,od.ordersid,od.itemsid,od.itemsnum,
		           i.id iid,i.name itemName,i.price,i.pic,i.createtime icreateTime,i.detail
		    from t_user u,orders o,orderdetail od,items i
		    where u.id = o.userid and o.id = od.ordersid and od.itemsid = i.id
		    and rownum <![CDATA[ <= ]]> #{endIndex}
		  ) 
		where rn >= #{beginIndex}
	</select>
	
	<!-- 统计分页数据总函数 -->
	<select id="selectUsersByPageCount" resultType="int">
	    select count(1)
	   	  from t_user u,orders o,orderdetail od,items i
	     where u.id = o.userid and o.id = od.ordersid and od.itemsid = i.id
	</select>
	
</mapper>